html, body, #root {
  height: 100%;
}

*
{
  font-family: 'Roboto', sans-serif;
}

.block{
  width: 100%;
}

.login-form
{
  width: 450px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 1px 1px 4px lightgray;
}

.mb-1{
  margin-bottom: 4px;
}