html, body, #root {
    height: 100%;
    background: #F9F9F9;

}

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primaryColor: #7c4dff;
    --primaryDark: #3f1dcb;
    --primaryLight: #3f1dcb;

    --secondaryColor: #d500f9;
    --secondaryDark: #9e00c5;
    --secondaryLight: #ff5bff;

    --textMain: rgba(0, 0, 0, .8);
    --textSub: rgba(0, 0, 0, .6);
    --textLight: rgba(0, 0, 0, .33);


}

.sidebar {
    background: var(--primaryColor);
}


.block {
    width: 100%;
}

.login-form {
    width: 450px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 1px 4px lightgray;
}

.mb-1 {
    margin-bottom: 4px;
}

.selected {
    background: var(--secondaryColor);
    color: white;
}

.card_receipt {
    width: 263px;
    height: 362px;
}

.card_receipt .receipt_img {
    width: 241px;
    height: 247px;
    margin-top: 8px;
    object-fit: cover;
}

.text-xm {
    font-size: 10px;
}

.bg-primary {
    background-color: var(--primaryColor);
}

.bg-secondary {
    background-color: var(--secondaryColor);
}

.bg-success {
    background-color: #0BBFA1;
}

.bg-danger {
    background-color: #F900A6;

}

.p-0_5 {
    padding: 1px;
}

.centerInDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    display: inline-block;
    text-align: center;
    transform: translate(-50%, -50%);

}

.receiptWrapper:hover .receiptOverlay {
    opacity: 0.6;
}


.receiptWrapper:hover .centerInDiv {
    opacity: 1;
}