# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\FA17 BCS 7B\fyp_web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
